<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container-fluid">
      <div class="row text-white">
        <div class="col-sm-6 offset-sm-3 text-left">
          <h1 class="display-4">Employee Form</h1>
          <div class="info-form">
            <form action="" class="form-inlin justify-content-center" [formGroup]="employeeForm"
              (ngSubmit)="updateEmployee()">


              <img class="img-fluid" [src]="employeeImage.value" alt="default profile Pic">

              <input type="file" (change)="onFileSelected($event)">


              <div class="form-group">
                <label>Firstname</label>
                <input type="text" [class.is-invalid]="firstName.invalid && firstName.touched"
                  formControlName="firstName" class="form-control">
                <div *ngIf="firstName.invalid && firstName.touched">
                  <small *ngIf="firstName.hasError('required')" class="text-danger">Firstname is required</small>
                  <small *ngIf="firstName.hasError('minlength')" class="text-danger">Minimum length is 3</small>
                </div>
              </div>

              <div class="form-group">
                <label>Lastname</label>
                <input type="text" [class.is-invalid]="lastName.invalid && lastName.touched" formControlName="lastName"
                  class="form-control">
                <div *ngIf="lastName.invalid && lastName.touched">
                  <small *ngIf="lastName.hasError('required')" class="text-danger">Lastname is required</small>
                  <small *ngIf="lastName.hasError('minlength')" class="text-danger">Minimum length is 3</small>
                </div>
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email"
                  class="form-control">
                <div *ngIf="email.invalid && email.touched">
                  <small *ngIf="email.hasError('required')" class="text-danger">Email is required</small>
                  <small *ngIf="email.hasError('pattern')" class="text-danger">Invalid Email</small>
                </div>
              </div>


              <div class="form-group">

                <label>Please select your gender</label>
                <div class="row">
                  <div class="form-check">
                    <label class="md-check">
                      <input type="radio" value="female" name="gender" formControlName="gender">
                      Female
                    </label>
                  </div>

                  <div class="form-check">
                    <label class="md-check">
                      <input type="radio" value="male" name="gender" formControlName="gender">
                      Male
                    </label>
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label>Age</label>
                <input type="number" [class.is-invalid]="age.invalid && age.touched" formControlName="age"
                  class="form-control">
                <div *ngIf="age.invalid && age.touched">
                  <small *ngIf="age.hasError('required')" class="text-danger">Age is required</small>
                  <small *ngIf="age.hasError('pattern')" class="text-danger">Invalid Age</small>
                </div>
              </div>

              <div class="form-group">
                <label>Salary</label>
                <input type="text" [class.is-invalid]="salary.invalid && salary.touched" formControlName="salary"
                  class="form-control" currencyMask  [options]="{ prefix: '&#8377; ', thousands: ',' }">
                <div *ngIf="salary.invalid && salary.touched">
                  <small class="text-danger">Salary is required</small>
                </div>
              </div>

              <div class="form-group">
                <label>Address</label>
                <textarea [class.is-invalid]="address.invalid && address.touched" class="form-control" name="" rows="3"
                  formControlName="address"></textarea>
                <div *ngIf="address.invalid && address.touched">
                  <small class="text-danger">Address is required</small>
                </div>
              </div>

              <div class="form-group">
                <label>Contact</label>
                <input type="text" [class.is-invalid]="contact.invalid && contact.touched" formControlName="contact"
                  class="form-control" mask="0000000000">
                <div *ngIf="contact.invalid && contact.touched">
                  <small *ngIf="contact.hasError('required')" class="text-danger">Contact is required</small>
                  <small *ngIf="contact.hasError('minlength')" class="text-danger">Invalid Mobile Number</small>
                </div>
              </div>

              <div formArrayName="hobbies">
                <div *ngFor="let hobby of hobbies.controls; let i=index">
                  <input type="checkbox" (click)="onCheckBoxClick($event)" [formControlName]="i">{{hobbiesArr[i].name}}
                </div>
                <div *ngIf="hobbiesError">
                  <small class="text-danger">Minimum 2 Hobbies required</small>
                </div>
              </div>


              <div class="form-group">
                  <label>State</label>
                  <select formControlName="state" class="form-control" (change)="onStateChange($event.target.value)">
                    <option value="{{state}}" selected disabled hidden>--Select State--</option>
                    <option *ngIf="state.value==''" value="" selected disabled hidden>--Select State--</option>
                    <option *ngFor="let state of statesCities"> {{state.name}}</option>
                  </select>

                <label>City</label>
                <select formControlName="city" class="form-control">
                  <option value="{{city}}" selected disabled hidden>--Select City--</option>
                  <option value={{city}} *ngFor="let city of cities"> {{city}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Zip Code</label>
                <input class="form-control" formControlName="zipCode" type="text" mask="000-000">
                <div *ngIf="zipCode.invalid">
                  <small class="text-danger">Invalid Zip Code</small>
                </div>
              </div>

              <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" type="text" bsDatepicker
                  class="form-control" [bsConfig]="{ isAnimated: true }" />
              </div>

              <div class="form-group">
                <tag-input formControlName="techSkills" (onRemove)=onTechSkillsChange($event)
                  (onAdd)=onTechSkillsChange($event) [allowDupes]=false></tag-input>
                <div *ngIf="techSkillsError">
                  <small class="text-danger">Minimum 2 Skills required</small>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-primary" [disabled]="!employeeForm.valid" type="submit">Submit</button>
                <button class="btn btn-primary ml-2" type="button" routerLink='../../list'>List</button>
              </div>

            </form>
          </div>
          <br>

          <a href="#nav-main" class="btn btn-outline-secondary btn-sm" role="button">
            More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
